.entity-details__container {
  display: flex;
  justify-content: space-between;
}

.entity-details__image {
  margin-right: 20px;
}

.entity-details__image img {
  max-width: 100%;
  padding-bottom: 20px;
  height: auto;
}

.entity-details__info {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.entity-details__info__title {
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.entity-details__info__subtitle,
.entity-details__info__subtitle--position {
  font-size: 0.8rem;
  color: #858585;
}

.entity-details__info__subtitle--position {
  font-style: italic;
  padding-bottom: 20px;
}

.entity-details__info__description {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .entity-details__container {
    flex-direction: column;
  }

  .entity-details__info {
    max-width: 100%;
  }
}