.entity-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.entity-list__item:hover .entity-list__container__description-title {
  color: #00bbbb;
}

.entity-list__item {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

.entity-list__item--loading {
  width: 100%;
  cursor: default;
}

.entity-list__container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.entity-list__container__image {
  max-width: 100%;
  height: auto;
}

.entity-list__container__description {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.entity-list__container__description-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.1rem;
}

.entity-list__container__description-subtitle {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: 768px) {
  .entity-list__item {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  .entity-list__item {
    width: 100%;
  }
}